<div class="center hero-unit">
  <h3>Bem-vindo ao DotaPB Championship</h3>
  <br/>
  <p>
     Contribuir para o prêmio total de Internacional e ganhar vários prêmios especiais.
     O Compêndio Internacional é um livro virtual que permite que você interaja com
     a maior dota final 2 anos em muitas maneiras diferentes. Este ano, você vai
     ainda recebem mais recompensas para elevar o nível de seus jogos compêndio assistindo,
     coleta de figurinhas de jogadores, fazer suposições sobre o que vai acontecer no
     torneio e muito mais. Melhor que isso, só estando lá.
  </p>
  <br/>
  <% unless user_signed_in? %>
    <%= link_to "Cadastre-se!", new_user_registration_path , class: "btn btn-primary" %>
  <%end%>
</div>

