<% if current_user %>

	<h1>Editing user</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path %>
  
  <a href="log-out">logout</a>

<% else %>
  <h1> Not logged in <h2>
  <a href="/log-in">Log in</a>
<% end %>