<div class="page-header">
  <h2 class="subhead navbar text-center alert">Detalhes</h2>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @category.name %></dd>
</dl>

<div class="form-group">
    <br/>
    <%= link_to categories_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
</div>
